{% extends "ZPBSitesBNBundle:Layouts:master.html.twig" %}

{% block main %}

    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam et, incidunt minima omnis quaerat
                quidem unde. At dolores, sequi.</p>

            <p>Aliquid debitis eligendi eum exercitationem facilis harum ipsam iste minima minus modi non, porro quas
                quos repudiandae rerum. Incidunt, totam!</p>

            <p>A amet architecto at, doloremque eligendi eos hic ipsam itaque laboriosam, magnam mollitia, nisi non
                nostrum quis quo soluta voluptas!</p>
        </div>
    </div>
    {{ render(controller("ZPBSitesBNBundle:Nav:secondNavbar")) }}
    <div class="container">

    </div>
{% endblock %}
