{% extends "ZPBSitesGroupesBundle:Layouts:master.html.twig" %}

{% block main %}

    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <h1>Groupes</h1>

            <p>Aliquid debitis eligendi eum exercitationem facilis harum ipsam iste minima minus modi non, porro quas
                quos repudiandae rerum. Incidunt, totam!</p>

            <p>A amet architecto at, doloremque eligendi eos hic ipsam itaque laboriosam, magnam mollitia, nisi non
                nostrum quis quo soluta voluptas!</p>
        </div>
    </div>
    {{ render(controller("ZPBSitesGroupesBundle:Nav:secondNavbar")) }}
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-md-offset-1 col-md-pull-1">
                <h3>Définitions des publics</h3>
                <h4>Clubs et associations</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa dicta distinctio inventore
                    numquam! Autem excepturi placeat quaerat, quas rem voluptatem voluptates. Accusamus autem commodi
                    consequuntur cupiditate dignissimos dolorem dolorum eligendi in ipsa laboriosam laborum libero,
                    mollitia natus, nisi nulla odio optio praesentium quia quod sapiente sed, velit voluptas
                    voluptatibus?</p>
                <h4>Familles</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt ducimus, ex illum
                    incidunt molestiae non numquam repellat reprehenderit suscipit!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa esse facere fugiat, maxime
                    numquam placeat quam sit sunt vel! A beatae explicabo in incidunt maxime optio perferendis ut
                    veniam?</p>
                <h4>Centres d'éducation spécialisés</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsum iure labore laborum, libero
                    nesciunt numquam quam quibusdam reiciendis repudiandae sequi similique ut veritatis voluptas.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, veritatis!</p>

            </div>
            <div class="col col-md-3">
                <h3>Avantages groupes</h3>
                <ul>
                    <li>Ouvert tous les jours de l'année</li>
                    <li>Parking bus gratuit</li>
                    <li>Caisse spéciale groupes</li>
                    <li>Facturation au nombre de personnes réellement présentes</li>
                    <li>Facturation et réglement uniques</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
