{% extends "ZPBSitesGroupesBundle:Layouts:master.html.twig" %}

{% block main %}

    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <h1>Groupes - Club & Assocs</h1>

            <p>Aliquid debitis eligendi eum exercitationem facilis harum ipsam iste minima minus modi non, porro quas
                quos repudiandae rerum. Incidunt, totam!</p>

            <p>A amet architecto at, doloremque eligendi eos hic ipsam itaque laboriosam, magnam mollitia, nisi non
                nostrum quis quo soluta voluptas!</p>
        </div>
    </div>
    {{ render(controller("ZPBSitesGroupesBundle:Nav:secondNavbar")) }}
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <h3>Commander des outils de com</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque dolorum harum itaque iusto
                    nam natus perferendis, ullam? Ad adipisci error expedita labore nobis pariatur, ratione rem sed vel
                    voluptatum.</p>

                <p>Dolores dolorum libero molestiae mollitia. Blanditiis cum dolores earum expedita necessitatibus nemo
                    nobis sapiente vitae. Assumenda at culpa mollitia omnis, quasi repudiandae vitae. Amet cum incidunt
                    maxime, non perferendis vero.</p>



            </div>
            <div class="col-md-6 col-md-offset-3">
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1"  class="form-control"/>
                    </div>


                    <div class="form-group">
                        <h4>Radio Button Choice</h4>

                        <label for="radio-choice-1">Choice 1</label>
                        <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

                        <label for="radio-choice-2">Choice 2</label>
                        <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
                    </div>

                    <div class="form-group">
                        <label for="select-choice">Select Dropdown Choice:</label>
                        <select name="select-choice" id="select-choice" class="form-control">
                            <option value="Choice 1">Choice 1</option>
                            <option value="Choice 2">Choice 2</option>
                            <option value="Choice 3">Choice 3</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="textarea">Textarea:</label>
                        <textarea cols="40" rows="8" name="textarea" id="textarea" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="checkbox">Checkbox:</label>
                        <input type="checkbox" name="checkbox" id="checkbox" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success"/>
                    </div>
                </form>
            </div>
            <div class=" col-md-12">


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque dolorum harum itaque iusto
                    nam natus perferendis, ullam? Ad adipisci error expedita labore nobis pariatur, ratione rem sed vel
                    voluptatum.</p>

                <p>Dolores dolorum libero molestiae mollitia. Blanditiis cum dolores earum expedita necessitatibus nemo
                    nobis sapiente vitae. Assumenda at culpa mollitia omnis, quasi repudiandae vitae. Amet cum incidunt
                    maxime, non perferendis vero.</p>

                <p>Blanditiis consequatur enim maxime. Ab aut autem debitis dignissimos doloremque dolorum eius error
                    expedita facilis hic laudantium libero, magnam, minima natus odit provident quaerat quibusdam
                    ratione soluta tempora tenetur voluptate!</p>

                <p>Ab accusamus aspernatur at blanditiis commodi, consequuntur corporis dignissimos et eum ipsum itaque
                    maxime mollitia nisi odio omnis placeat porro qui, quis quod recusandae sapiente sequi temporibus,
                    veniam veritatis vero?</p>

                <p>Aspernatur aut eveniet explicabo facilis fuga fugiat hic ipsum iste labore maiores molestiae natus
                    nobis praesentium quae quasi quisquam velit, voluptatem! Adipisci animi fugit nam odit sed soluta
                    velit vero!</p>

            </div>
        </div>
    </div>
{% endblock %}
