<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#<a class="navbar-brand" href="#">ZooParc de Beauval</a>#}
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href=""><i class="fa fa-home"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Beauval Nature <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Historique</a></li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Conservation <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Les programmes</a></li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Recherche <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Les programmes</a></li>
                        <li><a href="">Banque de semence éléphants</a></li>
                        <li><a href="">Reproduction des tapirs</a></li>
                        <li><a href="">Athérosclérose des oiseaux de proie</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Votre soutien <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Parrainage</a></li>
                        <li><a href="">Campagnes (EAZA, JBC, ...)</a></li>
                        <li><a href="">Dons</a></li>
                        <li><a href="">Partenaires</a></li>
                    </ul>
                </li>
                <li><a href="">News</a>

                </li>

            </ul>
        </div>
    </div>
</div>
