<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#<a class="navbar-brand" href="#">ZooParc de Beauval</a>#}
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href=""><i class="fa fa-home"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Votre visite <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Accès, horaires, tarifs</a></li>
                        <li><a href="">Calendrier animations</a></li>
                        <li><a href="">Plan de visite.</a></li>
                        <li><a href="">Restauration</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Dormir à la Beauval</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Le ZooParc <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Les univers</a></li>
                        <li><a href="">La mission</a></li>
                        <li><a href="">Développement durable</a></li>
                        <li><a href="">Historique</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pédagogie <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Carnets d'activités</a></li>
                        <li><a href="">Activités pédagogiques</a></li>
                        <li><a href="">Panneaux pédagogiques</a></li>
                        <li><a href="">Les offres scolaires</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">News <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Nouveautés</a></li>
                        <li><a href="">Fil d'actualités</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Communauté <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Youtube</a></li>
                        <li><a href="">TripAdvisor</a></li>
                    </ul>
                </li>
                <li><a href="">Boutique</a></li>
            </ul>
        </div>
    </div>
</div>
