{% extends "ZPBSitesGroupesBundle:Layouts:master.html.twig" %}

{% block main %}

    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <h1>Groupes - Club & Assocs</h1>

            <p>Aliquid debitis eligendi eum exercitationem facilis harum ipsam iste minima minus modi non, porro quas
                quos repudiandae rerum. Incidunt, totam!</p>

            <p>A amet architecto at, doloremque eligendi eos hic ipsam itaque laboriosam, magnam mollitia, nisi non
                nostrum quis quo soluta voluptas!</p>
        </div>
    </div>
    {{ render(controller("ZPBSitesGroupesBundle:Nav:secondNavbar")) }}
    <div class="container">
        <div class="row">
            <div class=" col-md-6 col-md-offset-1 col-md-pull-1">
                <h3>Visite ZooParc &laquo;seul&raquo;</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque dolorum harum itaque iusto
                    nam natus perferendis, ullam? Ad adipisci error expedita labore nobis pariatur, ratione rem sed vel
                    voluptatum.</p>

                <p>Dolores dolorum libero molestiae mollitia. Blanditiis cum dolores earum expedita necessitatibus nemo
                    nobis sapiente vitae. Assumenda at culpa mollitia omnis, quasi repudiandae vitae. Amet cum incidunt
                    maxime, non perferendis vero.</p>

                <p>Blanditiis consequatur enim maxime. Ab aut autem debitis dignissimos doloremque dolorum eius error
                    expedita facilis hic laudantium libero, magnam, minima natus odit provident quaerat quibusdam
                    ratione soluta tempora tenetur voluptate!</p>

                <p>Ab accusamus aspernatur at blanditiis commodi, consequuntur corporis dignissimos et eum ipsum itaque
                    maxime mollitia nisi odio omnis placeat porro qui, quis quod recusandae sapiente sequi temporibus,
                    veniam veritatis vero?</p>

                <p>Aspernatur aut eveniet explicabo facilis fuga fugiat hic ipsum iste labore maiores molestiae natus
                    nobis praesentium quae quasi quisquam velit, voluptatem! Adipisci animi fugit nam odit sed soluta
                    velit vero!</p>

            </div>
            <div class=" col-md-3">

            </div>
        </div>
    </div>
{% endblock %}
