<div class="footer" style="background-color: #000; color: #fff; padding-top: 50px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul class="list-inline text-center" style="font-size: 30px;">
                    <li><a href="" style="color: inherit;"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-center">Presse</h3>
                <ul class="list-unstyled">
                    <li><a href="">Dossiers de Presse</a></li>
                    <li><a href="">Communiqués de presse</a></li>
                    <li><a href="">Galerie</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">Rejoignez l'équipe !</h3>

                <p><a href="http://emploi.zoobeauval.com">Beauval emploi</a></p>

                <p>Cumque, cupiditate doloribus ea, maiores mollitia necessitatibus odio praesentium repudiandae sint
                    tempore totam ut vitae?</p>


            </div>
            <div class="col-md-3">
                <h3 class="text-center">NewsLetter</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores assumenda blanditiis
                    doloremque eligendi harum inventore nulla numquam quidem suscipit.</p>
                <a href="#">Abonnez-vous</a>
            </div>
            <div class="col-md-3">

                <h3 class="text-center">Contact</h3>

                <p>Notre équipe commerciale se tient à votre disposition</p>
                <p><a href="">Par formulaire de contact</a></p>

                <p>Par téléphone au 02 54 75 74 26</p>

                <p>Par fax au 02 54 75 74 30</p>




            </div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <p class="text-center">Mentions légales</p>
            </div>
            <div class="col-md-2">
                <p class="text-center">CGV</p>
            </div>
            <div class="col-md-2">
                Plan du site
            </div>
            <div class="col-md-2">
                <p class="text-center">Crédits photos</p>
            </div>
            <div class="col-md-2">
                <p class="text-center">FAQ</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="margin:20px 0;">
            <p class="text-center">@ ZooParc de Beauval 2014</p>
        </div>
    </div>
</div>
