{% extends "ZPBSitesProBundle:Layouts:master.html.twig" %}
{% block main %}

    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
            <h1>Professionnels</h1>

            <p>Aliquid debitis eligendi eum exercitationem facilis harum ipsam iste minima minus modi non, porro quas
                quos repudiandae rerum. Incidunt, totam!</p>

            <p>A amet architecto at, doloremque eligendi eos hic ipsam itaque laboriosam, magnam mollitia, nisi non
                nostrum quis quo soluta voluptas!</p>
        </div>
    </div>
    {{ render(controller("ZPBSitesProBundle:Nav:secondNavbar")) }}
    <div class="container">

    </div>
{% endblock %}
