{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Votre visite{% endblock %}

{% block page_header %}
    <div class="jumbotron" style="margin-bottom: 0; position: relative">
        <img src="http://lorempicsum.com/futurama/1798/300/{{ random(5) + 1 }}" alt="">
        <div style="position: absolute; top: 60px; right: 100px; width: 300px; height: 80px;">
            <a href="" class="btn btn-success btn-lg btn-block">Parrainer un animal</a>
        </div>
        <div style="position: absolute; top: 180px; right: 100px; width: 300px; height: 60px;">
            <a href="" class="btn btn-success btn-lg btn-block">Billeterie en ligne</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#horaires">Horaires</a></li>
                <li><a href="#access">Accès</a></li>
                <li><a href="#tarifs">Tarifs</a></li>
            </ul>
        </div>
        <div class="col col-md-10">
            <div class="page-header" id="horaires">
                <h2>Horaires</h2>
            </div>
            <div class="row">
                <div class="col col-md-8 col-md-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem delectus dignissimos earum
                        eius esse excepturi in itaque laborum molestiae, molestias nam nobis odio optio provident, quam
                        quia quo repellendus sit sunt temporibus voluptas. Assumenda consequuntur eaque expedita
                        laudantium?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem delectus dignissimos earum
                        eius esse excepturi in itaque laborum molestiae, molestias nam nobis odio optio provident, quam
                        quia quo repellendus sit sunt temporibus voluptas. Assumenda consequuntur eaque expedita
                        laudantium?</p>

                </div>
            </div>
            <div class="page-header" id="access">
                <h2>Accès</h2>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/img/zoo/map.jpg" alt="" style="width: 100%;"/>
                    </div>
                </div>
            <div class="page-header" id="tarifs">
                <h2>Tarifs</h2>
            </div>
            <div class="row">
                <div class="col col-md-8 col-md-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut autem delectus dignissimos earum
                        eius esse excepturi in itaque laborum molestiae, molestias nam nobis odio optio provident, quam
                        quia quo repellendus sit sunt temporibus voluptas. Assumenda consequuntur eaque expedita
                        laudantium?</p>

                    <p>Ab architecto atque autem culpa cupiditate distinctio dolorem earum, enim est minima molestias
                        quasi quibusdam quos saepe soluta unde vitae. Autem beatae eligendi explicabo facilis fugit
                        impedit, ipsam laboriosam nesciunt, qui, quod ratione repudiandae rerum sapiente? Accusamus
                        assumenda ea ut!</p>

                    <p>Architecto dicta ipsum iure natus nemo officia optio provident? Accusamus ad dolores sed sequi
                        similique? Atque consectetur dolorem est explicabo iusto nemo provident vel velit vero
                        voluptatem? Aspernatur blanditiis debitis eos error, eveniet fuga id possimus quas quisquam
                        ratione vel.</p>

                    <p>Atque blanditiis debitis delectus, dicta dolor eligendi est ex, excepturi facilis fugit impedit
                        laborum magni nam nobis officia officiis porro quaerat quas quisquam, tempora. Autem facere
                        labore sunt tempora veritatis. Accusantium adipisci blanditiis eos expedita molestiae nesciunt
                        optio saepe sequi.</p>

                    <p>Alias aliquid delectus distinctio dolorum error ex, impedit ipsa maxime natus nostrum officia
                        quidem quisquam, veniam. A ab alias consequatur dicta eius, enim, et eveniet expedita explicabo
                        fugiat inventore laudantium magnam minima nihil perspiciatis quis repudiandae saepe totam
                        voluptates voluptatum.</p>

                    <p>Amet atque consectetur deleniti doloremque dolorum earum eligendi enim fugiat illum mollitia
                        nostrum, numquam obcaecati qui quod rerum soluta, vero voluptates! Accusantium aliquam
                        exercitationem laborum nisi odio, praesentium quos similique! Beatae omnis praesentium quas
                        ratione reiciendis sed temporibus tenetur vero.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
