<div class="footer" style="background-color: #000; color: #fff; padding-top: 50px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>Presse</h3>
                <ul class="list-unstyled">
                    <li><a href="">Dossiers de Presse</a></li>
                    <li><a href="">Communiqués de presse</a></li>
                    <li><a href="">Galerie</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Rejoignez l'équipe !</h3>

                <p><a href="http://emploi.zoobeauval.com">Beauval emploi</a></p>

                <p>Cumque, cupiditate doloribus ea, maiores mollitia necessitatibus odio praesentium repudiandae sint
                    tempore totam ut vitae?</p>


            </div>
            <div class="col col-md-2">
                <h3>NewsLetter</h3>
            </div>
            <div class="col col-md-3">

                <h3>Contact</h3>
                <p>Consequuntur eveniet laboriosam quo quos sunt suscipit. Consectetur ipsam perspiciatis voluptas?
                    Adipisci autem cupiditate temporibus.</p>

            </div>
            <div class="col-md-3">
                <h3>Suivez-nous !</h3>
                <ul class="list-inline" style="font-size: 30px;">
                    <li><a href="" style="color: inherit;"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="" style="color: inherit;"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Mentions légales
            </div>
            <div class="col-md-2">
                CGV
            </div>
            <div class="col-md-2">
                Plan du site
            </div>
            <div class="col-md-2">
                Crédits photos
            </div>
            <div class="col-md-2">
                FAQ
            </div>
            <div class="col-md-2">
                <p>@ ZooParc de Beauval</p>
            </div>
        </div>
    </div>
</div>
